:root {
  --primary-white-color: #ffffff;
  --primary-black-color: #000000;
  --accent-color: #939393;
  --interactive-color: #263238;
  --basic-text-color: #8f95a5;
  --span-color: #2a3246;
  --price-label-color: #546269;
  --label-bg-color: #eeeeee;
  --footer-line-color: #c4c4c4;
}

/* basic rules */

body {
  font-family: 'Poppins', sans-serif;
  color: var(--basic-text-color);
  background-color: var(--primary-white-color);
  line-height: 1.5;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

.container {
  width: 1378px;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;
}

.list {
  padding: 0;
  margin: 0;
  list-style: none;
}

.link {
  text-decoration: none;
  color: var(--basic-text-color);
}

h1,
h2,
h3,
p {
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
}

/* header section */

.header {
  line-height: 1.5;
}

.header .container {
  display: flex;
  align-items: center;
}

.logo {
  font-size: 36px;
  color: var(--primary-black-color);
  margin-right: 236px;
}

.accent {
  color: var(--accent-color);
}

.nav-list {
  font-weight: 500;
  font-size: 20px;

  display: flex;
  gap: 50px;
}

.nav-link {
  display: inline-block;
  display: block;
  color: var(--interactive-color);
  padding-top: 75px;
  padding-bottom: 75px;
}

.contact-btn {
  display: inline-block;
  font-family: inherit;
  font-size: 20px;
  text-align: center;
  line-height: inherit;
  letter-spacing: 0.03em;
  color: var(--primary-black-color);
  background-color: transparent;
  border: 2px solid var(--interactive-color);
  border-radius: 10px;

  min-width: 312px;
  max-height: 70px;
  padding-top: 20px;
  padding-bottom: 20px;
  cursor: pointer;
  margin-left: auto;
}

/* hero section */

.hero-section .container {
  display: flex;
  gap: 144px;
  padding-bottom: 180px;
}

.title-box {
  display: flex;
  align-items: center;
  gap: 34px;
}

.hero-title {
  font-weight: 600;
  font-size: 64px;
  line-height: 1.25;
  color: var(--primary-black-color);
  max-width: 386px;
  margin-bottom: 40px;
}

.hero-description {
  font-size: 24px;
  line-height: 1.5;
  max-width: 540px;
  margin-bottom: 60px;
}

.start-btn {
  font-family: inherit;
  font-size: 36px;
  text-align: center;
  line-height: inherit;
  letter-spacing: 0.03em;
  color: var(--primary-white-color);
  background-color: var(--interactive-color);
  border: transparent;
  border-radius: 10px;

  min-width: 426px;
  padding-top: 23px;
  padding-bottom: 23px;
  cursor: pointer;
}
